!!!
%html
  %head
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title MyCI
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'vendor/custom.modernizr'
    = csrf_meta_tags

  %body
    %nav.top-bar
      %ul.title-area
        %section.top-bar-section
          %ul.right#user_box
            - if current_user
              %li= current_user.name
              %li= link_to 'logout', logout_path, id: :logout, method: :delete
            - else
              %li= link_to 'Sign Up', new_user_path, id: :signup
              %li= link_to 'Sign In', login_path, id: :signin
    #main
      #navpan
        dummy content
      #content
        - if flash[:notice]
          #flash#notice
            = flash[:notice]
        - if flash[:alert]
          #flash#alert
            = flash[:alert]

        = yield
